<div id="about-header">
    <div class="row fullWidth">
        <div class="small-centered large-5 medium-9 small-12 columns">
            <h1>Robert Thomas</h1>
            <div data-magellan-expedition="fixed" style="background: gray;">
                <dl class="sub-nav" style="display: inline-block; text-align: center;">
                    <dd data-magellan-arrival="projects">Projects</dd>
                    <dd data-magellan-arrival="experience">Experience</dd>
                    <dd data-magellan-arrival="education">Education</dd>
                    <dd data-magellan-arrival="skills">Skills</dd>
                    <dd data-magellan-arrival="interests">Interests</dd>
                    <dd data-magellan-arrival="software">Software</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<hr id="projects" style="margin: 0px;"/>

<div class="category">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Projects <i class="fi-anchor" style="color: #67A7CD;"></i></h1>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <div ng-repeat="project in projects" ng-if="$index >= 0 && $index <= 1">
                <h4><a ng-click="filters.title = project.title">{{project.title}}</a></h4>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <div ng-repeat="project in projects" ng-if="$index >= 2 && $index <= 3">
                <h4><a ng-click="filters.title = project.title">{{project.title}}</a></h4>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <div ng-repeat="project in projects" ng-if="$index >= 4 && $index <= 5">
                <h4><a ng-click="filters.title = project.title">{{project.title}}</a></h4>
            </div>
        </div>
    </div>
    <div class="row fullWidth">
        <div class="large-offset-1 columns">
        </div>
        <div class="large-11 medium-12 columns">
            <hr>
            <div class="row fullWidth">
                <div class="large-5 columns">
                    <div ng-repeat="project in projects | filter:filters">
                        <h5>{{ project.title }}</h5>
                        <h6>{{ project.description }}</h6>
                        <ul>
                          <li ng-repeat="tech in project.technology">{{ tech }}</li>
                        </ul>
                        <p style="color: black;">{{ project.caption }}</p>
                        <a href="{{ project.link }}">{{ project.link }}</a>
                    </div>
                </div>
                <div class="large-7 columns">
                    <div ng-repeat="project in projects | filter:filters">
                        <img src="{{ project.image }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<hr id="experience"/>

<div class="category">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Experience</h1>
        </div>
        <div class="large-6 columns">
            <div class="show-for-large-up"><br/></div>
            <h3 style="font-size: 23px; margin-top: 12px;">Freelance | <span style="color: grey; font-size: 21px;">Developer</span></h3>
            <p style="margin-bottom: 15px;" class="description">2013 - Present</p>
            <ul>
                <li>Developed and maintained client relationships.</li>
                <li>Created mockups and graphic designs.</li>
                <li>Determined appropriate site architecture and hosting.</li>
                <li>Converted designs into website assets.</li>
                <li>Hosted and updated website files.</li>
            </ul>
            <ul class="inline-list">
                <li>Related Skills:</li>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>Communication</li>
                <li>Customer Service</li>
            </ul>
            <hr/>
        </div>
        <br/>
    </div>
    <div class="row fullWidth">
        <div class="large-offset-3 large-6 columns">
            <h3 style="font-size: 23px; margin-top: 12px;">QFC | <span style="color: grey; font-size: 21px;">Produce Manager</span></h3>
            <p style="margin-bottom: 15px;" class="description">2016 - Present</p>
            <ul>
                <li>Coordinated a team of Produce Clerks.</li>
                <li>Selected and ordered department commodities.</li>
                <li>Maintained high customer satisfaction ratings.</li>
                <li>Planned and implemented merchandising strategies.</li>
                <li>Executed company policies, sales, and promotions.</li>
            </ul>
            <ul class="inline-list">
                <li>Related Skills:</li>
                <li>Communication</li>
                <li>Critical Thinking</li>
                <li>Customer Service</li>
                <li>Organization</li>
            </ul>
            <hr/>
        </div>
        <br/>
    </div>
    <div class="row fullWidth">
        <div class="large-offset-3 large-6 columns">
            <h3 style="font-size: 23px; margin-top: 12px;">Albright College | <span style="color: grey; font-size: 21px;">Help Desk Support</span></h3>
            <p style="margin-bottom: 15px;" class="description">2008-2009</p>
            <ul>
                <li>Provided help desk support via telephone.</li>
                <li>Assisted students and instructors on Mac and Windows.</li>
                <li>Performed troubleshooting and diagnostics on campus devices.</li>
                <li>Maintained and oversaw main campus computer labs.</li>
            </ul>
            <ul class="inline-list">
                <li>Related Skills:</li>
                <li>Communication</li>
                <li>Critical Thinking</li>
                <li>Problem Solving</li>
            </ul>
        </div>
        <br/>
    </div>
</div>

<br/>
<hr id="education"/>

<div class="category">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Education</h1>
        </div>
        <div class="large-6 columns">
            <div class="show-for-large-up"><br/></div>
            <h3 style="font-size: 23px; margin-top: 12px;">Albright College | <span style="color: grey; font-size: 21px;">Reading, Pa</span></h3>
            <h5>B.A. Digital Media, Philosophy</h5>
            <ul class="inline-list">
                <li>Dean's List</li>
                <li>Jacob Albright Scholar</li>
            </ul>
        </div>
        <br/>
    </div>
</div>

<br/>
<hr id="skills"/>

<div class="category">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Skills</h1>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <h4>HTML / CSS</h4>
            <hr/>
            <h4>JavaScript</h4>
            <hr/>
            <h4>PHP</h4>
            <hr/>
            <h4>Zurb Foundation</h4>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <h4>AngularJS</h4>
            <hr/>
            <h4>Linux</h4>
            <hr/>
            <h4>Twitter Bootstrap</h4>
            <hr/>
            <h4>Apache Cordova</h4>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <div class="hide-for-large-up"><hr/></div>
            <h4>AWS / EC2 / S3</h4>
            <hr/>
            <h4>Git</h4>
            <hr/>
            <h4>Laravel</h4>
            <hr/>
            <h4>React</h4>
        </div>
        <br/>
    </div>
</div>

<br/>
<hr id="interests"/>

<div class="category inticons">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Interests</h1>
        </div>
        <div class="large-2 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <i class="fi-trees"></i>
        </div>
        <div class="large-2 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <i class="fi-die-two"></i>
        </div>
        <div class="large-2 medium-6 columns">
            <div class="show-for-medium-up"><br/><br/></div>
            <i class="fi-monitor"></i>
        </div>
        <div class="large-2 medium-6 columns">
            <div class="show-for-medium-up"><br/><br/></div>
            <i class="fi-map"></i>
        </div>
        <br/>
    </div>
</div>

<br/>
<hr id="software"/>

<div class="category">
    <div class="row fullWidth">
        <div class="large-offset-1 large-2 columns">
            <h1>Software</h1>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <h4>Atom</h4>
            <hr/>
            <h4>FileZilla</h4>
            <hr/>
            <h4>Terminal</h4>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <h4>Chrome</h4>
            <hr/>
            <h4>Firefox</h4>
            <hr/>
            <h4>VirtualBox</h4>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="show-for-large-up"><br/><br/></div>
            <div class="hide-for-large-up"><hr/></div>
            <h4>Photoshop</h4>
            <hr/>
            <h4>XAMPP</h4>
            <hr/>
            <h4>Linux Mint</h4>
        </div>
        <br/>
    </div>
</div>

<br/>
<hr/>
