<div style="color: #F0F0F0; font-size: 3.5em;">
	<div class="row" style="padding-top: 30px;">
		<div class="small-1 columns">
			<i class="fi-comment"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-magnifying-glass"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-down"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-torso"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-monitor"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-play"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-shopping-cart"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-graph-trend"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-lock"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-list"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bookmark"></i>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-1 columns">
			<i class="fi-checkbox"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-telephone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-contrast"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-layout"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-sound"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-html5"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-alert"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-microphone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bluetooth"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-up"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page-multiple"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-usb"></i>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-1 columns">
			<i class="fi-comment"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-magnifying-glass"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-down"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-torso"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-monitor"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-play"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-shopping-cart"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-graph-trend"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-lock"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-list"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bookmark"></i>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-1 columns">
			<i class="fi-checkbox"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-telephone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-contrast"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-layout"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-sound"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-html5"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-alert"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-microphone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bluetooth"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-up"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page-multiple"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-usb"></i>
		</div>
	</div>
		<br/>
	<div class="row">
		<div class="small-1 columns">
			<i class="fi-comment"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-magnifying-glass"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-down"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-torso"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-monitor"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-play"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-shopping-cart"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-graph-trend"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-lock"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-list"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bookmark"></i>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-1 columns">
			<i class="fi-checkbox"></i>
		</div>
		<div class="small-1 columns">
		<i class="fi-telephone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-contrast"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-layout"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-sound"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-html5"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-alert"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-microphone"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-bluetooth"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-arrow-up"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-page-multiple"></i>
		</div>
		<div class="small-1 columns">
			<i class="fi-usb"></i>
		</div>
	</div>
</div>