<div id="intro-header">
    <div class="row">
        <div class="large-12 columns">
            <div id="intro-message">
                <h1>Robert Thomas</h1>
                <h3>Freelance Web Developer</h3>
                <hr>
                <ul class="inline-list intro-social-buttons" style="display: inline-block;">
                    <li class="show-for-small-only" style="width: 100%;"><a href="#" class="button"><i class="fi-social-twitter"></i> <span class="network-name">Twitter</span></a></li>
                    <li class="show-for-medium-up"><a href="#" class="button"><i class="fi-social-twitter"></i> <span class="network-name">Twitter</span></a></li>
                    <li class="show-for-small-only" style="width: 100%;"><a href="#" class="button"><i class="fi-social-github"></i> <span class="network-name">Github</span></a></li>
                    <li class="show-for-medium-up"><a href="#" class="button"><i class="fi-social-github"></i> <span class="network-name">Github</span></a></li>
                    <li class="show-for-small-only" style="width: 100%;"><a href="#" class="button"><i class="fi-social-linkedin"></i> <span class="network-name">LinkedIn</span></a></li>
                    <li class="show-for-medium-up"><a href="#" class="button"><i class="fi-social-linkedin"></i> <span class="network-name">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div id="services-intro">
    <div class="row">
        <div class="large-12 columns text-center">
            <h1>Web Development</h1>
            <h4 style="color: black; font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </h4>
            <hr/>
        </div>
    </div>
</div>

<div id="services-grid">
    <div class="row fullWidth">
        <br/>
        <div class="medium-3 small-6 columns">
            <img src="img/html5.png" />
            <div class="show-for-small-only"><br/><br/></div>
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/css3.png" />
            <div class="show-for-small-only"><br/><br/></div>
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/jquery.png" />
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/sass.png" />
        </div>
    </div>

<br/><br/><br/>

    <div class="row fullWidth">
        <div class="medium-3 small-6 columns">
            <img src="img/bootstrap.png" />
            <div class="show-for-small-only"><br/><br/></div>
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/zurb.png" />
            <div class="show-for-small-only"><br/><br/></div>
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/less.png" />
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/github.png" />
        </div>
    </div>

<br/><br/><br/>

    <div class="row fullWidth">
        <div class="medium-offset-3 medium-3 small-6 columns">
            <img src="img/laravel.png" />
        </div>
        <div class="medium-3 small-6 columns">
            <img src="img/codeigniter.png" />
        </div>
        <div class="medium-3 columns">
        </div>
    </div>
</div>

<br>
<br>

<div id="features-header">
    <div class="row">
        <div class="medium-12 columns">
            <br/>
            <h1>Modern Web Technology</h1>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h4>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="medium-4 columns">
            <i class="fi-tablet-portrait"></i>
            <h4>RESPONSIVE</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="medium-4 columns">
            <i class="fi-social-zurb"></i>
            <h4>FOUNDATION</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="medium-4 columns">
            <i class="fi-layout"></i>
            <h4>MVC</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
    </div>
    <br/>
</div>
